@model CustomVacations.CheckoutModel

@{
    ViewData["Title"] = "Chekout";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



@if(!this.ViewData.ModelState.IsValid)
{
   <div class="alert-danger">
       <ul>
           @foreach (var error in (this.ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).Select(x => x.Value.Errors)))
           {
               @foreach (var message in error)
               {
                   <li>@message.ErrorMessage</li>
               }
           }
       </ul>
   </div>

}
<h2>Checkout <!--View--></h2>


<form method="post">
    <div class="form-group">
        <label asp-for="email">Email</label>
        @if (User.Identity.IsAuthenticated)
        {
            <input type="email" asp-for="email" required class="form-control" disabled />
            <input type="hidden" asp-for="email" />
        }

        else
        {
            <input type="email" asp-for="email" required class="form-control" />

        }
    </div>
    <!--
    <div class="form-group">
        <label asp-for="StreetAddress">Street Address</label>
        <input type="text" asp-for="StreetAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input type="text" asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="State"></label>
        <input type="State" asp-for="State" class="form-control" />
    </div>
    -->
    <input type="submit" name="email" class="btn btn-primary" />
</form>

@section Script {

}

