
@{
    ViewData["Title"] = "YourVacationQueue";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<body class="HongKong">
    <h2>Your Vacation Queue</h2>
    <h5>This is where your vacation queue will be.</h5>
</body>


